@font-face {
	font-family: 'MyIcons';
	src:url('../MyIcons.eot');
	src:url('../MyIcons.eot?#iefix') format('embedded-opentype'),
		url('../MyIcons.woff') format('woff'),
		url('../MyIcons.ttf') format('truetype'),
		url('../MyIcons.svg#MyIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'MyIcons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-arrow-left, .icon-untitled, .icon-erase, .icon-arrow-left-2, .icon-arrow-right, .icon-arrow-up, .icon-checkmark-circle, .icon-cancel-circle, .icon-plus-alt, .icon-info, .icon-house, .icon-user, .icon-car, .icon-gauge, .icon-envelope, .icon-question, .icon-info-2, .icon-pencil, .icon-remove, .icon-signout, .icon-file-add, .icon-files, .icon-spam, .icon-keyboard, .icon-key, .icon-checkmark, .icon-close, .icon-shield, .icon-coin {
	font-family: 'MyIcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-arrow-left:before {
	content: "\e000";
}
.icon-untitled:before {
	content: "\e001";
}
.icon-erase:before {
	content: "\e002";
}
.icon-arrow-left-2:before {
	content: "\e003";
}
.icon-arrow-right:before {
	content: "\e004";
}
.icon-arrow-up:before {
	content: "\e005";
}
.icon-checkmark-circle:before {
	content: "\e006";
}
.icon-cancel-circle:before {
	content: "\e007";
}
.icon-plus-alt:before {
	content: "\e008";
}
.icon-info:before {
	content: "\e009";
}
.icon-house:before {
	content: "\e00a";
}
.icon-user:before {
	content: "\e00b";
}
.icon-car:before {
	content: "\e00c";
}
.icon-gauge:before {
	content: "\e00d";
}
.icon-envelope:before {
	content: "\e00e";
}
.icon-question:before {
	content: "\e00f";
}
.icon-info-2:before {
	content: "\e010";
}
.icon-pencil:before {
	content: "\e011";
}
.icon-remove:before {
	content: "\e012";
}
.icon-signout:before {
	content: "\e013";
}
.icon-file-add:before {
	content: "\e014";
}
.icon-files:before {
	content: "\e015";
}
.icon-spam:before {
	content: "\e016";
}
.icon-keyboard:before {
	content: "\e017";
}
.icon-key:before {
	content: "\e018";
}
.icon-checkmark:before {
	content: "\e019";
}
.icon-close:before {
	content: "\e01a";
}
.icon-shield:before {
	content: "\e01b";
}
.icon-coin:before {
	content: "\e01c";
}
